*{
    margin:0;
    padding:0;
    font-family:Arial,  sans-serif;
}

body {
    background:white;
}

.categories {
    display:flex;
    justify-content:center;
    padding: 30px;
    gap: 20px;
    position:sticky;
    top: 71px;;
    background:white;
    z-index:100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.categories button{
    padding:10px 20px;
    border: 2px solid red;
    border-radius:20px;
    background:white;
    color: red;
    cursor:pointer;
    transition:all 0.2s ease;

}

.categories button:hover{
    transform:scale(1.08);
    background:red;
    color:white
    
}

.categories button.active{
    background:red;
    color:white;
}

.menu {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
    padding:20px;
    max-width:1200px;
    margin: 0 auto;
}

.food {
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    transition:.3s;
}

.food:hover{
    transform:scale(1.05) translateY(-5px)
}

.food img{
    width:100%;
    height:200px;
    object-fit:cover;
}
.food div{
    padding: 15px;
}

.food button {
  background: #fff;      /* أبيض */
  color: #c40000;        /* نص أحمر زي Navbar */
  border: 2px solid #c40000; /* حدود حمراء */
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.food button:hover {
  background: #c40000; /* أحمر عند Hover */
  color: #fff;          /* نص أبيض */
  transform: scale(1.05);
}
