body {
    background: #f0f2f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.reset-card {
    background:#fff;
    width:380px;
    padding:25px;
    border-radius:8px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.reset-card h4 {
    font-weight:bold;
    text-align: center;
    margin-bottom:15px
}

.reset-card p {
    text-align: center;
    color: #606770;
    font-size: 14px;
}

.btn-custom {
    background: #1877f2;
    border: none;
    font-weight: bold;
}

.btn-custom:hover {
    background: #166fe5;
}

.back-login {
    text-align: center;
    margin-top: 15px;
}

.back-login a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
}
