{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Di-Da|Restaurant{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/global/main.css' %}">
  {% block extra_css %}{% endblock %}
   
</head>

<body>

  {% include  'parts/navbar.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

   <script type="module" src="{% static 'js/global/navbar.js' %}"   ></script>
   <script type="module" src="{% static 'js/global/cart.js' %}"  ></script>
   {% block extra_js %}{% endblock %}
</body>
</html>