{% load static %}
<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/auth/reset_password.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

    <div class="auth-container">
        <div class="auth-card">
            <h2>Reset Password</h2>
            <p>Set a new password for your account</p>

            {% if messages %}
                {% for message in messages %}
                <div class="form-error">
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}

        <form method="POST" id="reset-form" autocomplete="on">
            {% csrf_token %}

            <div class="input-group">
                <label>New Password</label>
                <div class="input-wrapper">
                    <input 
                        type="password" 
                        id="password" 
                        name="password" 
                        required
                        autocomplete="new-password"
                        minlength="8"
                    >
                    <i class="fa-regular fa-eye toggle-visibility" data-target="password"></i>
                </div>

                <!-- Strength -->
                <div class="strength">
                    <div class="strength-bar">
                        <span id="strength-fill"></span>
                    </div>
                    <span class="strength-text" id="strength-text">Weak</span>
                </div>

                <!-- Password Rules -->
                <ul class="password-rules" id="password-rules">
                    <li id="rule-length" class="rule">At least 8 characters</li>
                    <li id="rule-number" class="rule">Contains a number</li>
                    <li id="rule-upper" class="rule">Contains an uppercase letter</li>
                </ul>
            </div>

            <div class="input-group">
                <label>Confirm Password</label>
                <div class="input-wrapper">
                    <input 
                        type="password" 
                        id="confirm" 
                        name="confirm" 
                        required
                        autocomplete="new-password"
                    >
                    <i class="fa-regular fa-eye toggle-visibility" data-target="confirm"></i>
                </div>
            </div>

            <button type="submit" class="primary-btn" id="submit-btn" disabled>
                Set New Password
                <span class="loader" id="btn-loader"></span>
            </button>
        </form>

        </div>
    </div>
    <script src="{% static 'js/auth/reset_password.js' %}"></script>
</body>
</html>