{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP Verification</title>
    <!-- ربط ملف CSS -->
    <link rel="stylesheet" href="{% static 'css/auth/otp.css' %}">
</head>
<body>

<div class="otp-container">

    <h2>Verify Code</h2>
    <p>Enter the 6-digit code sent to your email:</p>

    <form method="POST" id="otp-form">
        {% csrf_token %}

        <div class="otp-inputs">
            {% for i in "123456" %}
            <input type="text" 
                   maxlength="1" 
                   inputmode="numeric" 
                   class="otp-input" 
                   autocomplete="one-time-code">
            {% endfor %}
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if "verify" in message.tags %}
                    <div class="otp-error">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}


        <input type="hidden" name="otp_code" id="otp_code">

        

        <button type="submit" class="verify-btn">
            Verify
        </button>
    </form>

    <form method="POST" action="{% url 'resend-email-otp' %}"  id="resend-form">
        {% csrf_token %}
        <button type="submit" class="resend-btn">
            Resend
        </button>
    </form>

</div>

<!-- ربط ملف JS -->
<script src="{% static 'js/auth/otp.js' %}"></script>

</body>
</html>
