{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Code</title>

    <link rel="stylesheet" href="{% static 'css/auth/reset_password_otp.css' %}">
</head>
<body>

<div class="otp-container">

    <h2>Verify Your Email</h2>

    <p>
        Enter the 6-digit code sent to your email:
    </p>

    {% if messages %}
        {% for message in messages %}
            <div class="otp-error">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" id="otp-form">
        {% csrf_token %}

        <div class="otp-inputs">
            {% for i in "123456" %}
            <input
                type="text"
                maxlength="1"
                inputmode="numeric"
                class="otp-input"
                autocomplete="one-time-code"
            >
            {% endfor %}
        </div>

        <!-- Hidden input -->
        <input type="hidden" name="otp_code" id="otp_code">

        <button type="submit" class="verify-btn">
            Verify
        </button>
    </form>

    <form method="POST" action="{% url 'password-reset-resend' %}" id="resend-form">
        {% csrf_token %}
        <button type="submit" class="resend-btn">
            Resend Code
        </button>
    </form>

</div>

<script src="{% static 'js/auth/password_otp.js' %}"></script>

</body>
</html>
