* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f0f2f5;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* =====================
   CONTAINER
===================== */

.otp-container {
    background: #fff;
    padding: 35px 30px;
    border-radius: 12px;

    width: 380px;
    max-width: 95%;

    text-align: center;

    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


/* =====================
   HEADINGS
===================== */

.otp-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1c1e21;
}

.otp-container p {
    color: #606770;
    margin-bottom: 25px;
    font-size: 14px;
}


/* =====================
   OTP INPUTS
===================== */

.otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.otp-inputs input {
    width: 48px;
    height: 55px;

    background: #f5f6f7;
    border: 1px solid #ccd0d5;
    border-radius: 8px;

    color: #1c1e21;
    font-size: 22px;
    text-align: center;

    outline: none;

    transition: 0.2s;
}


.otp-inputs input:focus {
    border-color: #1877f2;
    background: #fff;
    box-shadow: 0 0 0 2px #1877f230;
}


/* =====================
   ERROR
===================== */

.otp-error {
    color: #e41e3f;
    font-size: 13px;
    margin-bottom: 10px;
}


/* =====================
   BUTTON
===================== */

.verify-btn {
    width: 100%;
    padding: 13px;

    background: #1877f2;
    border: none;
    border-radius: 8px;

    font-size: 15px;
    font-weight: bold;
    color: white;

    cursor: pointer;

    transition: 0.2s;
}

.verify-btn:hover {
    background: #166fe5;
}

.verify-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


/* =====================
   RESEND
===================== */

.resend-btn {
    margin-top: 18px;

    background: none;
    border: none;

    color: #1877f2;
    font-size: 14px;

    cursor: pointer;
}

.resend-btn:hover {
    text-decoration: underline;
}

.resend-btn.disabled {
    color: gray;
    pointer-events: none;
    
}

